<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-process-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">流程Id：</label>
				<div class="col-sm-8">
					<input id="processId" name="processId" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "nodeRelation"
		function submitHandler() {
			$.operate.save(prefix + "/autoProcess?modelId="+[[${modelId}]], $('#form-process-add').serialize());
	    }
	</script>
</body>
</html>
